<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_sunce0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1533},{103,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,161}}</string>
                <key>sourceSize</key>
                <string>{103,161}</string>
            </dict>
            <key>eff_sunce01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1507},{119,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>eff_sunce02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,933},{270,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,262}}</string>
                <key>sourceSize</key>
                <string>{270,262}</string>
            </dict>
            <key>eff_sunce03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{283,285}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{283,285}}</string>
                <key>sourceSize</key>
                <string>{287,285}</string>
            </dict>
            <key>eff_sunce04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,370}}</string>
                <key>sourceSize</key>
                <string>{372,370}</string>
            </dict>
            <key>eff_sunce05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>eff_sunce1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{95,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,318}}</string>
                <key>sourceSize</key>
                <string>{95,318}</string>
            </dict>
            <key>eff_sunce2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1205},{182,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,300}}</string>
                <key>sourceSize</key>
                <string>{182,300}</string>
            </dict>
            <key>eff_sunce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{214,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,325}}</string>
                <key>sourceSize</key>
                <string>{214,325}</string>
            </dict>
            <key>eff_sunce4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{225,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,271}}</string>
                <key>sourceSize</key>
                <string>{225,271}</string>
            </dict>
            <key>eff_sunce5.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,374},{184,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,288}}</string>
                <key>sourceSize</key>
                <string>{184,288}</string>
            </dict>
            <key>eff_sunce6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,664},{187,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,185}}</string>
                <key>sourceSize</key>
                <string>{187,185}</string>
            </dict>
            <key>rl_sunce_dabi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,886},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>rl_sunce_dabi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1535},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>rl_sunce_datui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,693},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>rl_sunce_datui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1205},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>rl_sunce_hujian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,886},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>rl_sunce_hujian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1583},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>rl_sunce_lingzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1507},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>rl_sunce_pilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,851},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>rl_sunce_toulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1533},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>rl_sunce_weiqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,322},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>rl_sunce_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1205},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>rl_sunce_xiaobi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1314},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>rl_sunce_xiaobi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,851},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>rl_sunce_xiaotui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1354},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>rl_sunce_xiaotui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,664},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>rl_sunce_xiongjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,322},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>rl_sunse_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,851},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rl_sunce.png</string>
            <key>size</key>
            <string>{482,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d91bca12b9008180baec2344c89879a:bb002903dd4a3aa87a252e9efd4d9c9a:76b6cccca80f0e00b42a86b810989093$</string>
            <key>textureFileName</key>
            <string>rl_sunce.png</string>
        </dict>
    </dict>
</plist>
